body {
    background-color: #000;
}

.app-layout {
    background-image: linear-gradient(rgba(31, 25, 20, .15), rgba(255, 119, 0, .15));
    width: 100%;
    min-height: 100svh;
}

.app-layout .content {
    width: 960px;
    max-width: 90vw;
    margin: 0 auto;
}

.app-layout header {
    color: #fff;
}
