.btn {
    padding: 5px 38px;
    border-radius: 5px;
    border: none;
    background: none;
    cursor: pointer;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &.disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
    
    &.primary {
        background: var(--primary-color);
    }
    
    &.secondary {
        border: 1px solid var(--primary-color);
        color: #fff;
    }
    
    &.sm {
        padding: 3px 10px;
    }
    
    &.lg {
        padding: 8px 20px;
    }

    &.link {
        padding: 0;
        color: #fff;
        text-decoration: underline;
    }
}
