.auth-layout {
    background-image: 
        linear-gradient(rgba(13, 26, 38, .95), rgba(13, 26, 38, .95)),
        url('/images/background-login.png');
    background-size: cover;
    background-position: center;

    min-height: 100dvh;
    color: white;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.auth-layout > img {
    max-width: 80%;
    max-height: 35vh;
}
